body{
    background-image: 
    url(/Users/miruna-maricelaburuiana/Documents/compitoLim/background.jpg);
     background-position: center;
    background-size:cover;
    height: 100vh;
    background-repeat: no-repeat;
    }
    body {
        color: white;
       }
* {
    margin: 0;
    padding: 0;
}
.container {
    width:1000px;
    margin:auto;
}
.body {
    color: white;
}
.quadrato1 {
    background-color:#FFAE42;
    width: 400px;
    height: 30px;
    
}
.quadrato2 {
    background-color:#32CD32;
    width: 700px;
    height: 30px;
    
}
.quadrato3 {
    background-color:#DC143C;
    width: 150px;
    height: 30px;
    
}

.logo {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo-text {
    font-size: 20px;
    display: block;
    text-align: center;
    color: #32CD32;
}
.button{
    height: 30px;
    width: 800px;
    background-color: #00FF00;
    text-align:center;
    display: inline-block;
    margin-left: 100px;
    margin-right: 500px;
}

.checkox{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

